## EDA Pt. 2

The purpose of this notebook is to read back in the dataset I created in the EDA/Time Series Notebook, and conduct further EDA.

In [38]:
import json
import requests
from bs4 import BeautifulSoup
import time
import csv
import pandas as pd
import matplotlib.pyplot as plt
import re
import seaborn as sns
import numpy as np

%matplotlib inline

In [39]:
df = pd.read_csv('cleaned_games_dataset.csv', index_col="Unnamed: 0")

In [40]:
df.head()

,fg_1_1,fga_1_1,fg%_1_1,3p_1_1,3pa_1_1,3p%_1_1,ft_1_1,fta_1_1,ft%_1_1,orb_1_1,...,pts_2_3_opp,home_2_3_opp,betting_line_2_3_opp,off_rating_1_3_opp,off_rating_2_3_opp,over_under_3_opp,game_total_score_3_opp,days_1_back_opp,days_2_back_opp,days_3_back_opp
1,31,78,0.397,7,23,0.304,28,38,0.737,18,...,114,1,9.5,110.75,114.78,195.0,224,2,2,2
2,37,70,0.529,11,27,0.407,18,27,0.667,8,...,87,0,8.0,101.62,95.06,189.5,180,3,1,2
5,31,72,0.431,6,21,0.286,27,33,0.818,13,...,84,0,-3.5,94.13,87.86,188.0,174,1,3,1
6,30,71,0.423,8,21,0.381,34,42,0.810,16,...,102,1,-3.5,101.45,108.92,195.0,197,1,3,1
9,35,79,0.443,7,16,0.438,13,15,0.867,11,...,74,0,8.0,93.25,77.54,188.0,163,2,1,3

In [50]:
df[['bet_won_over', 'game_total_score', 'off_rating_1_1', 
    'off_rating_1_1_opp', 'off_rating_2_1', 'home_1', 'home_2']].corr()

,bet_won_over,game_total_score,off_rating_1_1,off_rating_1_1_opp,off_rating_2_1,home_1,home_2
bet_won_over,1.000000,0.677850,0.001458,0.001458,0.000296,0.000000,0.000000
game_total_score,0.677850,1.000000,0.092551,0.092551,0.075798,0.000000,0.000000
off_rating_1_1,0.001458,0.092551,1.000000,0.006939,0.186794,-0.001078,0.001078
off_rating_1_1_opp,0.001458,0.092551,0.006939,1.000000,0.031609,0.001078,-0.001078
off_rating_2_1,0.000296,0.075798,0.186794,0.031609,1.000000,-0.022116,0.022116
home_1,0.000000,0.000000,-0.001078,0.001078,-0.022116,1.000000,-1.000000
home_2,0.000000,0.000000,0.001078,-0.001078,0.022116,-1.000000,1.000000

#### Number of Overs

In [42]:
df['bet_won_over'].value_counts()

0    6042
1    5780
Name: bet_won_over, dtype: int64

In [55]:
'{:.1%}'.format(df['bet_won_over'].value_counts()[1]/len(df))

'48.9%'

#### Number of Unders

In [52]:
df['bet_won_under'].value_counts()

0    5944
1    5878
Name: bet_won_under, dtype: int64

In [54]:
'{:.1%}'.format(df['bet_won_under'].value_counts()[1]/len(df))

'49.7%'

#### Number of Pushes

Following cell is the # of pushes for the 5 seasons of NBA games I've collected, as well the % of games for which a push occurred.

In [44]:
print(len(df[df['bet_won_over'] == df['bet_won_under']]), '\n', 
      '{:.1%}'.format((len(df[df['bet_won_over'] == df['bet_won_under']])/len(df))))

164
 1.4%